electron/electron.exe filter=lfs diff=lfs merge=lfs -text
electron/*.dll filter=lfs diff=lfs merge=lfs -text
electron/*.pak filter=lfs diff=lfs merge=lfs -text
electron/LICENS* filter=lfs diff=lfs merge=lfs -text
electron/chrome_* filter=lfs diff=lfs merge=lfs -text
electron/icudtl.dat filter=lfs diff=lfs merge=lfs -text
electron/v8_context_snapshot.bin filter=lfs diff=lfs merge=lfs -text
electron/snapshot_blob.bin filter=lfs diff=lfs merge=lfs -text
electron/resources.pak filter=lfs diff=lfs merge=lfs -text
electron/resources/resources/connectors/**/*.exe filter=lfs diff=lfs merge=lfs -text
electron/resources/resources/welive/**/*.exe filter=lfs diff=lfs merge=lfs -text
electron/resources/resources/welive/**/*.dll filter=lfs diff=lfs merge=lfs -text
electron/resources/resources/welive/**/*.dylib filter=lfs diff=lfs merge=lfs -text
electron/resources/resources/wcdb/**/*.dll filter=lfs diff=lfs merge=lfs -text
electron/resources/resources/key/** filter=lfs diff=lfs merge=lfs -text
electron/resources/resources/runtime/** filter=lfs diff=lfs merge=lfs -text
electron/resources/resources/lib*.dylib filter=lfs diff=lfs merge=lfs -text
electron/resources/resources/macos/*.dylib filter=lfs diff=lfs merge=lfs -text
electron/resources/resources/icon.png filter=lfs diff=lfs merge=lfs -text
